<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156859309460-ki2544l3ic521uepogun04pt0rpios52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156859309460-ki2544l3ic521uepogun04pt0rpios52</string>
	<key>API_KEY</key>
	<string>AIzaSyC5IWjOB_JPKalZild4Pec2Gu12cIIgrws</string>
	<key>GCM_SENDER_ID</key>
	<string>156859309460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-4f022</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-4f022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156859309460:ios:e17d5f1490e1c3a34b0381</string>
</dict>
</plist>